<!-- <h2>Info on {{model.name}}</h2>
<h4>Fighting Style: {{model.fighting}}</h4>
<p>{{model.biography}}</p> -->


{{author-detail author=model destroyAuthor="destroyAuthor"}}
{{update-author author=model update="update"}}
